/* Registration styles*/

.reg-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.heading{
  font-size: 26px;
  margin-bottom: 1rem;
}

.reg-form {
  width: 20%;
  height: 50%;
  display: flex;
  flex-flow: column;
}

.reg-container .reg-form label{
  font-size: 18px;
  padding: 10px 0;
}

.reg-container .reg-form input{
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid wheat;
  width: 420px;
  height: 38px;
  padding: 0 15px;
}
.reg-container .reg-form input:focus{
  outline: none;
}

.reg-container .reg-form button{
  width: 450px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: blue;
  margin-top: 15px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}