*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-grey: #F1F2F6;
  --color-lg-purple: #EBF3FF;
  --color-blue: #0583FF;
  --color-black: #010302;
  --color-red: #BC262C;
}
.home-container{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.home-container .sidebar {
  display: flex;
  flex-flow: column;
  width: 25%;
  height: 100%;
}
.home-container .sidebar .topbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.home-container .sidebar .topbar .icons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.home-container .sidebar .topbar .icons .icon {
  background: var(--color-grey);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}
.home-container .sidebar .searchbar {
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--color-grey);
  border-radius: 20px;
  padding: 10px;
}
.home-container .sidebar .searchbar .icon{
  width: 10%;
  cursor: pointer;
}
.home-container .sidebar .searchbar input{
  width: 90%;
  padding: 3px;
  border: none;
  background: var(--color-grey);
}
.home-container .sidebar .searchbar input:focus{
  outline: none;
}
.home-container .chatarea {
  display: flex;
  flex-flow: column;
  width: 73%;
  height: 100%;
  padding: 0 20px;
  background: green;
}